<template name="sidebar">
	{{#if noUser}}
	{{else}}
	<div class="panel panel-default" style="text-align:center">
		<div class="panel-heading">{{username}}'s Tags</div>
		<div class="panel-body" style="font-size:18px">
			<div class="label label-primary draggable">{{genderTag}}</div>
			<div class="label label-primary draggable">{{standingTag}}</div>
			{{#each majorsTags}}
				<div class="label label-primary draggable">{{this}}</div>
			{{/each}}
			{{#each interestsTags}}
				<div class="label label-primary draggable">{{this}}</div>
			{{/each}}
		</div>
	</div>
	{{/if}}
</template>