<template name="sidebar">
	{{#if noUser}}
	{{else}}
	<div class="panel panel-default" style="text-align:center">
		<div class="panel-heading">{{username}}'s Tags <span class="glyphicon glyphicon-tags"></span></div>
		<div class="panel-body" style="font-size:18px">
			<div class="label label-primary draggable" style="z-index:1">{{genderTag}}</div>
			<div class="label label-primary draggable" style="z-index:1">{{standingTag}}</div>
			{{#each majorsTags}}
				<div class="label label-primary draggable" style="z-index:1">{{this}}</div>
			{{/each}}
			{{#each interestsTags}}
				<div class="label label-primary draggable" style="z-index:1">{{this}}</div>
			{{/each}}
		</div>
		{{#if firstTimeUser}}
		{{else}}
			<div class="panel-footer">
				<button class="btn btn-primary" data-toggle="modal" data-target="#writePost" id="postButton">Find your Pair!</button>	
			</div>
		{{/if}}
	</div>
	{{/if}}


	<div class="modal fade" id="writePost">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       		 		<h4 class="modal-title">Write your post!</h4>
	    	  	</div>
	    	  	<div class="modal-body">
	        		<form class="form-horizontal">
						<div class="form-group">
							<div class="col-md-3" style="text-align:left">
							{{#each targetTags}}
								<div class="label label-primary draggable doubleclick" style="z-index:1">{{this}}</div>
							{{/each}}
							</div>
							<label for="search" class="col-md-2 control-label">Aim Tags!</label>
							<div class="col-md-4 dropdown">
								<input id="search" type="text" placeholder="tags" class="form-control input-md dropdown-toggle" autocomplete="off" data-toggle="dropdown" aria-expanded="false" />
								<div class="col-md-4 test">
									<ul class="dropdown-menu" role="menu" id="matches" aria-labelledby="search" style="display:none">
										<li id="list_0" class="matchTag"></li>
										<li id="list_1" class="matchTag"></li>
										<li id="list_2" class="matchTag"></li>
										<li id="list_3" class="matchTag"></li>
										<li id="list_4" class="matchTag"></li>
									</ul>
								</div>
							</div>
							<button type="button" class="btn btn-primary" id="customize" style="display:none">Add</button>
						</div>
						<div class="form-group">
							<label class="control-label col-md-5">What</label>
							<div class="col-md-6">
								<input type="text" id="what" class="form-control input-md" placeholder="What to do?" autocomplete="off"/>
							</div>
						</div>
					</form>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        		<button type="button" class="btn btn-primary" id="save">Save changes</button>
	      		</div>
	    	</div>
	  	</div>
	</div>
</template>