<template name="topBar">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">EchAT</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a>Pair For You</a></li>
					<li><a>All Pairs</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{{#if noUser}}
						<li><a style="color:#FF6633">{{errorMessage}}</a></li>
						<li>{{> login}}</li>
						<li><a href="{{pathFor 'register'}}">Sign up</a></li>
					{{else}}
						<li><a href="{{pathFor 'dashboard'}}">{{username}}</a></li>
						<li><a href='#' class='signout'>Sign out</a></li>
					{{/if}}
				</ul>
			</div>
		</div>
	</nav>
</template>