<template name="register">
	<h2> Registration </h2>

	<form>
		<div class="form-group">
			<label>Email address</label>
			<input type="email" class="form-control" name="email_address" placeholder="example@email.com">
		</div>
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" placeholder="Enter password">
		</div>
		<div class="form-group">
			<label>Re-enter Password</label>
			<input type="password" class="form-control" name="re-password" placeholder="Re-enter Password">
		</div>
		<div class="form-group">
			<input type="submit" value="Register" class="btn btn-primary">
		</div>
	</form>
</template>