<template name="genderSelection">
	<br/>
	{{#each gender}}
		<input class="btn btn-primary" name="gender" type="button" value="{{discription}}"/>
	{{/each}}
	<hr/>
	<div>
		<button type="button" id="next" class="btn-primary btn-lg" text>next</button> 
	</div>
</template>

<template name="standingSelection">
	<br/>
	{{#each standing}}
		<input class="btn btn-primary" name="standing" type="button" value="{{discription}}"/>
	{{/each}}
	<hr/>
	<div>
		<button type="button" id="next" class="btn-primary btn-lg">next</button> 
	</div>
</template>

<template name="majorsSelection">
	<br/>
	{{#each engineeringMajor}}
		<input class="btn btn-primary" name="engineering" type="button" value="{{discription}}"/>
	{{/each}}
	<br/>
	{{#each socialMajor}}
		<input class="btn btn-primary" name="social" type="button" value="{{discription}}"/>
	{{/each}}
	<br/>
	{{#each scienceMajor}}
		<input class="btn btn-primary" name="science" type="button" value="{{discription}}"/>
	{{/each}}
	<br/>
	{{#each medMajor}}
		<input class="btn btn-primary" name="medical" type="button" value="{{discription}}"/>
	{{/each}}
	<br/>
	{{#each busMajor}}
		<input class="btn btn-primary" name="business" type="button" value="{{discription}}"/>
	{{/each}}
	<br/>
		<h6>Your major is not listed here? Click the button here to name your major here!</h6>
		<button id="self" class="btn btn-primary">Define your major</button>
	<hr/>
	<div>
		<button id="next" class="btn-primary btn-lg">next</button> 
	</div>
</template>

<template name="interestsSelection">
	<br/>
	{{#each sport}}
		<input class="btn btn-primary" name="medical" type="button" value="{{discription}}"/>
	{{/each}}
	<br/>
	{{#each casualty}}
		<input class="btn btn-primary" name="business" type="button" value="{{discription}}"/>
	{{/each}}
	<br/>
		<h6>Your interests are not listed here? Click the button here to name your interests here!</h6>
		<button id="self" class="btn-primary">Define your interests</button>
	<br/>
</template>