<template name="tagnav">
	<div class="tabs tabs-style-linemove">
		<nav>
			<ul>
				<li class="tab-current" id="gender">
					<a class="glyphicon glyphicon-user" id="gender"><span> Gender</span></a>
				</li>
				<li id="standings">
					<a class="glyphicon glyphicon-time" id="standing"><span> Standing</span></a>
				</li>
				<li id="majors">
					<a class="glyphicon glyphicon-education" id="majors"><span> Majors</span></a>
				</li>
				<li id="interests">
					<a class="glyphicon glyphicon-heart" id="interests"><span> Interests</span></a>
				</li>
				<li id="others">
					<a class="glyphicon glyphicon-tag" id="others"><span> Others</span></a>
				</li>
			</ul>
		</nav>
		<div class="content-wrap">
			{{#if genderSelected}}
				{{> genderSelection}}
			{{else}}
			 	{{#if standingSelected}}
					{{> standingSelection}}
				{{else}} 
					{{#if majorsSelected}}
						{{> majorsSelection}}
					{{else}}
						{{#if interestsSelected}}
							{{> interestsSelection}}
						{{else}}
							{{> othersSelection}}
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		</div>	
	</div>
</template>