<template name="genderSelection">
	{{#each gender}}
		<input class="btn btn-default" name="gender" type="button" value="{{discription}}"/>
	{{/each}}
</template>

<template name="standingSelection">
	{{#each standing}}
		<input class="btn btn-default" name="standing" type="button" value="{{discription}}"/>
	{{/each}}
</template>

<template name="majorsSelection">
	<button>M</button>
</template>

<template name="interestsSelection">
	<button>M</button>
</template>

<template name="othersSelection">
	<button>M</button>
</template>