<template name="userProfile">
	<div class="panel panel-default" id="profile" style="text-align:center">
		<div class="panel-heading">{{username}}'s Tags</div>
		<div class="panel-body" style="font-size:36px">
			<div class="label label-primary draggable">{{genderTag}}</div>
			<div class="label label-primary draggable"> {{standingTag}}</div>
			{{#each majorsTags}}
				<div class="label label-primary draggable">{{this}}</div>
			{{/each}}
			{{#each interestsTags}}
				<div class="label label-primary draggable">{{this}}</div>
			{{/each}}
		</div>
		<div class="panel-footer">
			<button type="button" id="modify" class="btn btn-primary btn-lg">Modify Your Tags</button>
		</div>
	</div>
</template>